@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="container contain_min">
        <div class="row mt-2">
            <div class="col-12 pt-1">
                <div class="card">
                    <!-- card-body -->
                    <div class="card-body table-responsive ">
                        <table id="GCData" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- card-body -->
                </div>
                <!-- card -->
            </div>
        </div>
    </div>
</section>

<!-- POPUP MODAL FOR ASSET -->
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="gc_modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

<script src="~/MasterStyles/TableStyles/datatables/jquery.mockjax.min.js"></script>
<script>
    // FOR DEMONSTRATION ONLY: AJAX emulation
    $.mockjax({
        url: '/test/gc',
        responseTime: 1000,
        response: function (settings) {
            var json_data = @Html.Raw(Json.Encode(ViewBag.GCData));
            var arrData = [];
            for (var i = 0; i < json_data.length; i++) {
                arrData.push([json_data[i]['gcid'],
                    json_data[i]['gcregion'],
                    json_data[i]['gcstation'],
                    json_data[i]['gcregionname'],
                    json_data[i]['stationname'],
                    json_data[i]['gcname'],
                    json_data[i]['gctype'],
                    json_data[i]['count'],
                    json_data[i]['created_byy'],
                    json_data[i]['created_on'],
                    json_data[i]['modified_byy'],
                    json_data[i]['modified_on']
                ]);
            }
            //console.log("Request arrData: ", arrData);
            this.responseText = {
                data: [],
            };
            for (var i = 0; i < arrData.length; i++) {
                this.responseText.data.push(arrData[i]);
            }
        }
    });
</script>
<!-- DATATABLE INITIALIZING FORMAT -->
<script>
    var myTable;
    var columnsData = [];
    $(document).ready(function () {
        columnsData = [
            { 'title': 'GCId' },
            { 'title': 'PipelineId' },
            { 'title': 'StationId' },
            { 'title': 'Network' },
            { 'title': 'Station Name' },
            { 'title': 'GC Name' },
            { 'title': 'GC Type' },
            { 'title': 'Count' },
            { 'title': 'Created By' },
            { 'title': 'Created On' },
            { 'title': 'Modified By' },
            { 'title': 'Modified On' },
            { 'title': 'Action' }
        ];
        myTable = $('#GCData').DataTable({
            ajax: '/test/gc',
            'columns': columnsData,
            'processing': true,
            'paging': true,
            'scrollY': "350px",
            "scrollCollapse": true,
            'order': [[3, 'asc']],
            'dom': '<"row toolbarinner mb-1 pb-1"<"col-sm-9"<"toolbar">><"col-sm-3"<"float-right"f>>>tr<"row pt-3 pl-2"<"col-sm-2 pt-1"i><"col-sm-1 pt-2"l><"col-sm-9"p>>',
            'deferRender': true,
            'language': {
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>'

                },
                "search": '',
                "info": "Showing page _PAGE_ of _PAGES_",
                "lengthMenu": "Rows :  _MENU_",
            },
            'columnDefs': [
                { 'visible': false, 'targets': [0, 1, 2] },
                { 'orderable': false, 'targets': [12] },
                { 'targets': [12], 'className': 'text-center' },
                {
                    'targets': [12], 'type': 'string',
                    'render': function (data, type, full, meta) {
                        data = '<a class="editAssetFC dropdown_icon" title="Edit" onclick="BtnEditGC(' + meta.row + ')">'
                            + '<i class="fas fa-edit" style="margin-left: 10px;color: #248742;"></i>'
                            + '</a>'
                            + '<a class="dropdown_icon" data-toggle="tooltip" title="Delete" onclick="BtnDeleteGC(' + meta.row + ')">'
                            + '<i class="fa fa-trash" style="margin-left: 10px;color: #dc5252;"></i>'
                            + '</a>'
                        return data;
                    }
                }
            ]
        });
        $("div.toolbar").html('<div style="display:flex;"><p><strong> GC List </strong></p><ul class="mb-0 list-inline ml-3"><li class="list-inline-item"><a href="#"> <i class="fas fa-upload nav-icon1"></i></a></li><li class="list-inline-item"><a data-toggle="modal" data-target="#gc_modal" onclick="BtnAddGC()"><i class="fas fa-plus nav-icon1"></i></a></li><li class="list-inline-item"><a href="#"><i class="fas fa-edit nav-icon1"></i></a></li><li class="list-inline-item"><a href="#"><i class="fas fa-trash nav-icon1"></i></a></li></ul></div>')
    });
</script>
<!-- SCRIPT FOR EDIT AND DELETE BUTTON -->
<script>
    $('#gc_modal').on('hidden.bs.modal', function (e) {
        $(this)
            .find("input,textarea,select,datalist")
            .val('')
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end();
    });
    function BtnAddGC() {
        @*$.ajax({
            url: '@Url.Content("~/Asset/AddNewGC")',
            success: function (data) {
                $('#gc_modal .modal-body').html("");
                $('#gc_modal .modal-body').html(data);
                $('#gc_modal .modal-title').html('Add GC Data');
                $('#gc_modal').modal('show');
            }
        });*@
    }
    function BtnEditGC(rowData) {
        var table = $('#GCData').DataTable();
        var form_data = table.rows(rowData).data();
        var id_column;
        $.each(form_data, function (key, value, index) {
            id_column = value[0];
        });
        console.log("id_column:", id_column);

        @*$.ajax({
             url: '@Url.Content("~/Asset/EditGCData?Id=")' + id_column, // The method name + parameter
             success: function (data) {
                 $('#gc_modal .modal-title').html('Edit GC Data');
                 $('#gc_modal .modal-body').html(data);
                 $('#gc_modal').modal('show');
             }
        });*@
    }
    function BtnDeleteGC(rowData) {
        var table = $('#GCData').DataTable();
        var form_data = table.rows(rowData).data();
        var id_column;
        $.each(form_data, function (key, value, index) {
            id_column = value[0];
        });
        //console.log("id_column:", id_column);
        @*var url_data = '@Url.Content("~/Asset/DeleteGCData?Id=")' + id_column
        window.location.href = url_data;*@

    }
</script>
<!-- Double click event-->
<script>
    $(document).on("dblclick", "#GCData tr", function () {
        var myTable = $('#GCData').DataTable();
        var form_data = myTable.rows(this).data();
        var id_column;
        //var diagnosticItem;
        $.each(form_data, function (key, value, index) {
            id_column = value[0];
        });
        console.log("id_column:", id_column);

        var url = '@Url.Content("~/Asset/GCChartViewer?id=")' + id_column;
        window.location.href = url;

        //$.each(form_data, function (key, value, index) {
        //    diagnosticItem = {
        //        gc_id: value[0],
        //        gc_name: value[5],
        //        gc_meter_type: value[6],
        //        gc_station_name: value[4],
        //        gc_network: value[3]
        //    }
        //    //console.log("diagnostic item", diagnosticItem);
        //    draw_chart(diagnosticItem);
        //});

    });

    @*function draw_chart(diagnosticData) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Asset/GC_ChartViewer")',
            data: JSON.stringify(diagnosticData),
            contentType: 'application/json',
            success: function (data) {
                var nextpageurl = '@Url.Content("~/Asset/GC_ChartViewer")'
                window.location.href = nextpageurl;
                /* window.location.href = "/Graph/_partial_diagnostic_details";*/
            }
        });

       
    }*@
</script>